/*---------- CSS3 KEYFRAMES -----------*/

@keyframes fade-in {
	0%			{opacity: 0;}
	100% 		{opacity: 1;}
}

	@-moz-keyframes fade-in {
		0%			{opacity: 0;}
		100% 		{opacity: 1;}
	}

	@-o-keyframes fade-in {
		0%			{opacity: 0;}
		100% 		{opacity: 1;}
	}

	@-webkit-keyframes fade-in {
		0%			{opacity: 0;}
		100% 		{opacity: 1;}
	}

/*---------- CSS3 ANIMATIONS-----------*/

.fade-in {
	animation-name: fade-in;
		-moz-animation-name: fade-in;
		-o-animation-name: fade-in;
		-webkit-animation-name: fade-in;
	animation-duration: 5s;
		-moz-animation-duration:5s;
		-o-animation-duration: 5s;
		-webkit-animation-duration: 5s;
	animation-fill-mode: backwards;
		-moz-animation-fill-mode: backwards;
		-o-animation-fill-mode: backwards;
		-webkit-animation-fill-mode: backwards;
}	